/*Faculdade de Tecnologia de Ribeirão Preto*/
/*Centro Paula Souza*/
/*Programação WEB*/
/*Prof. Dr. Ricardo Luis Balieiro*/
/*Docente: Pedro Welbert da Silva Pereira*/

@font-face {
  font-family: Oswald;
  src: url("./assets/fonts/Oswald.ttf");
}

*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: Oswald;
}

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

header nav ul{
	display: flex;
}

header nav ul li{
	padding: 1em;
	width: 50%;
	font-family: Oswald;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	background: #555;
	transition: ease-in-out .3s;
}

header nav ul li:hover{
	background: #999;
}

header nav ul li a{
	color: #fff;
}

/*Style coffee*/

#coffee {
	margin: 0 1em 0 1em;
}

#coffee h1{
	font-size: 200%;
	font-weight: bold;
	padding: 1em;
	text-align: center;
}

#coffee h5{
	font-size: 120%;
	font-weight: bold;
	padding: 1em;
	text-align: center;
}

#coffee h6{
	font-size: 120%;
	font-weight: bold;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #000;
	transition: ease-in-out .3s;
}

#coffee .row{
	width: 100%;
	display: flex;
	justify-content: center;
}

#coffee .column{
	width: 25%;
	margin: 0.5em;
	transition: ease-in-out .3s;
}

#coffee .column:hover{
	background: #a38068;
	border-radius: 1em;
}

#coffee .column:hover h6 {
	color: #fff;
}

#coffee .column:hover img {
	border-radius: 1em 1em 0em 0em;
}

#coffee .column img{
	width: 100%;
	border-radius: 1em;
	transition: ease-in-out .3s;
}

/*Style coffee item*/

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.coffee-item{
	border-bottom: 1px solid #a38068;
	display: block;
}

.coffee-description{
	padding: 1em 0;
}

.coffee-description h4{
	font-weight: bold;
	font-size: 120%;
	padding: 1em 0;
}

.cost{
	padding: 1em 0em 0em 0em !important;
}

.coffee-description p{
	font-weight: normal;
	font-size: 120%;
}

